@import "../../mixins";

:host {
  @include blockSeparator;
  @include stickyBar;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  ul {
    a {
      @include linkWithIIcon;

      font-size: var(--fontSize4);

      fa-icon {
        font-size: var(--fontSize3);
      }
    }
  }
}
