@import '../mixins';

:host {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 100%;
  overflow: hidden;

  .content {
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: var(--afterHeaderGap);
    padding-inline: 2.5rem;

    &__inner {
      @include mainContentArea;

      main {
        padding-bottom: calc(var(--afterHeaderGap) * 2);
      }
    }
  }
}
