@import '../../mixins';

:host {
  @include blockSeparator;
  @include stickyBar;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  .navbar-btn {
    @include btn;

    background: var(--colorBgAccent);
    font-size: var(--fontSize4);
    padding: .5rem 1.25rem;

    &:hover,
    &:focus-within {
      background: var(--colorBgAccentLight);
    }

    &__icon {
      color: var(--colorMain);
    }

  }
}
