<div class="content">
  <div class="content__left-side">
    <a class="left-side__logo-link" routerLink="/">
      <app-logo></app-logo>
    </a>
  </div>
  <app-search></app-search>
  <div class="content__right-side">
    <div class="right-side__tools">
      <a routerLink="/settings" class="icon-btn profile-tools__btn">
      <fa-icon [icon]="settingsIcon"></fa-icon>
      </a>
      <a routerLink="/notifications" class="icon-btn profile-tools__btn">
        <fa-icon [icon]="notificationsIcon"></fa-icon>
      </a>
    </div>
    <app-profile-mini></app-profile-mini>
  </div>
</div>
