<div class="thumbnail">
  <img [src]="data.thumbnail" alt="" class="thumbnail__img">
  <div class="thumbnail__inner">
    <a class="inner__post-link" [routerLink]="data.fullLink">Read More</a>
    <div class="inner__btns">
      <a class="btns__btn" [routerLink]="data.fullLink" fragment="comment">
        <fa-icon [icon]="commentIcon"></fa-icon>
      </a>
      <button class="btns__btn">
        <fa-icon [icon]="favouriteIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="content">
  <div class="content__heading">
    <h2 class="heading__name">{{data.name}}</h2>
    <h5 class="heading__author">#{{data.author.name}}</h5>
  </div>
  <p class="content__description">{{data.smallDescription}}</p>
</div>
