<div class="card">
  <div class="card__thumbnail">
    <img [src]="post.thumbnail" alt="" class="thumbnail__img">
    <div class="thumbnail__inner">
      <a class="inner__post-link" [routerLink]="['/posts', post.link]">Read More</a>
      <div class="inner__btns">
        <button class="btns__btn" (click)="openCommentModal()()">
          <fa-icon [icon]="commentIcon"></fa-icon>
        </button>
        <button class="btns__btn">
          <fa-icon [icon]="favouriteIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="card__content">
    <div class="content__heading">
      <h2 class="heading__name">{{post.name}}</h2>
      <h5 class="heading__author">#{{post.author.name}}</h5>
    </div>
    <p class="content__description">{{post.shortDescription}}</p>
  </div>
</div>
<div class="comments">
  <button class="comments__new-comment" (click)="openCommentModal()()">Leave a comment</button>
  <comment-mini [onReply]="openCommentModal(comment)" [comment]="comment" *ngFor="let comment of post.comments"></comment-mini>
</div>
