@mixin fontBaloo {
  font-family: 'Baloo 2', cursive;
}

@mixin mainContentArea {
  position: relative;
  display: grid;
  grid-template-columns: var(--gridTemplateContent);
  grid-template-rows: auto;
  width: var(--widthContent);
  gap: 1rem;
  margin-inline: auto;
}

@mixin clearedBtn {
  outline: none;
  border: none;
  color: var(--colorTextMain);
  cursor: pointer;
}

@mixin iconBtn($textColor: var(--colorTextExtra), $focusedTextColor: var(--colorMainDark), $activeTextColor: var(--colorMain)) {
  @include clearedBtn;

  background: none;
  color: $textColor;
  transition: var(--transitionDefault);
  font-size: var(--fontSize4);

  &:not(.active):focus-within,
  &:not(.active):hover {
    color: $focusedTextColor;
  }

  &.active {
    color: $activeTextColor;
  }
}

@mixin btn {
  @include clearedBtn;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  transition: var(--transitionSmall);
  border-radius: var(--bdrsBtn);
}

@mixin link {
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: var(--transitionSmall);
  cursor: pointer;
}

@mixin linkWithIIcon(
  $textColor: var(--colorTextExtra),
  $activeTextColor: var(--colorTextMain),
  $iconColor: var(--colorBgAccent),
  $activeIconColor: var(--colorMainDark),
  $focusedIconColor: var(--colorMain)
) {
  @include link;

  color: $textColor;

  &.active {
    color: $activeTextColor;

    fa-icon {
      color: $focusedIconColor;
    }
  }

  &:not(.active):hover,
  &:not(.active):focus-within {
    color: $activeTextColor;

    fa-icon {
      color: $activeIconColor;
    }
  }

  fa-icon {
    color: $iconColor;
    width: 2rem;
  }
}

@mixin blockSeparator($gap: 3rem, $color: var(--colorBgAccent)) {
  & :not(:last-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: $color;
      height: 2px;
      width: 100%;
      top: calc(100% + $gap / 2);
      left: 0;
    }
  }
}

@mixin verticalList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

@mixin picture($borderColor: var(--colorBg)) {
  background-color: var(--colorMainDark);
  border-radius: 50%;
  aspect-ratio: 1;
  border: 2px solid $borderColor;
}

@mixin stickyBar {
  position: sticky;
  left: 0;
  top: 0;
  height: min-content;
  overscroll-behavior-y: contain;
}
