@mixin fontBaloo {
  font-family: 'Baloo 2', cursive;
}

@mixin mainContentArea {
  display: grid;
  grid-template-columns: var(--gridTemplateContent);
  width: var(--widthContent);
  gap: 1rem;
  margin-inline: auto;
}

@mixin clearedBtn {
  outline: none;
  border: none;
  color: var(--colorTextMain);
}

@mixin iconBtn($textColor: var(--colorTextExtra), $focusedTextColor: var(--colorMainDark), $activeTextColor: var(--colorMain)) {
  @include clearedBtn;

  background: none;
  color: $textColor;
  transition: var(--transitionDefault);
  font-size: var(--fontSize4);

  &:not(.active):focus-within,
  &:not(.active):hover {
    color: $focusedTextColor;
  }

  &.active {
    color: $activeTextColor;
  }
}

@mixin btn {
  @include clearedBtn;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  transition: var(--transitionSmall);
  border-radius: var(--bdrsBtn);
  cursor: pointer;
}

@mixin link {
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: var(--transitionSmall);
  cursor: pointer;
}
