:root {
  --colorTextMain: white;
  --colorTextExtra: #D8D8D8;
  --colorTextDark: black;
  --colorMain: #14FFEC;
  --colorMainDark: #00ADB5;
  --colorBg: #212121;
  --colorBgAccent: #323232;
  --colorBgAccentLight: #414141;

  --fontSize5: 1rem;
  --fontSize4-5: 1.25rem;
  --fontSize4: 1.5rem;
  --fontSize3: 2rem;
  --fontSize2: 2.75rem;
  --fontSize1: 3.5rem;

  --transitionDefault: 300ms;
  --transitionSmall: 150ms;

  --bdrsBtn: 10px;
  --bdrsWindow: 10px;

  --widthContent: min(1440px, 100%);
  $sideSize: 15rem;
  --gridTemplateContent: #{$sideSize} 4fr #{$sideSize};
}
