:root {
  --colorTextMain: white;
  --colorTextExtra: #D8D8D8;
  --colorTextDark: black;
  --colorMain: #14FFEC;
  --colorMainDark: #00ADB5;
  --colorBg: #212121;
  --colorBgAccent: #323232;

  --fontSize1: .75rem;
  --fontSize2: 1.5rem;
  --fontSize3: 2rem;
  --fontSize4: 3.5rem;
  --fontSize5: 5rem;

  --transitionDefault: 300ms;

  --widthContent: min(1440px, 100%);
  $sideSize: minmax(15rem, 20%);
  --gridTemplateContent: #{$sideSize} 1fr #{$sideSize};
}
