// fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
// imports
@import "normalize";
@import "variables";
@import "mixins";

// global
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
// --headings
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
h5 {
  font-size: var(--fontSize5);
}
h4 {
  font-size: var(--fontSize4);
}
h3 {
  font-size: var(--fontSize3);
}
h2 {
  font-size: var(--fontSize2);
}
h1 {
  font-size: var(--fontSize1);
}
// --app's
body {
  background: var(--colorBg);

  & > * {
    @include fontBaloo;

    color: var(--colorTextMain);
  }
}

fa-icon {
  transition: var(--transitionSmall);
}

.icon-btn {
  @include iconBtn();
}
